@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);
body {
    margin-top: 50px;
    background-color: transparent;
    color: #ddd;
}

.cta {
  text-align: center;
  padding-top: 50px;
  font-size: 1.2em;
}

.concl {
  padding-top: 80px;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
}
.concl-desc {
  font-size: 1.5em;
  text-shadow: 1px 1px #e6e6ff;
}

.vote-desc {
  color: #eee;
  padding: 20px;
}

.sandbox-correct-pronounciation {
  padding: 2em 0 2em 0;
}
.heading-correct-pronounciation {
  margin: auto;
  text-align: center;
  position: relative;
}
h1 {
  color: #fff;
  font-family: 'Cardo', serif;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
}
em {
  font-family: 'EB Garamond', serif;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style: normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}
em::before,
em::after {
  content: "§";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  opacity: 0.7;
  margin: 0 0.6em;
  font-size: 0.5em;
}
.bottom {
  font-size: 1.5em;
  letter-spacing: 0.07em;
  font-size: 1em;
  display: block;
}

body {
  background: linear-gradient(330deg, #171d49, #295b3a, #a57e04, #6e3803);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 170s ease infinite;
  -moz-animation: AnimationName 170s ease infinite;
  -o-animation: AnimationName 170s ease infinite;
  animation: AnimationName 170s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@keyframes AnimationName {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
